@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.post_heading {
    font-family: "Times New Roman";
    font-size: 6vh;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 119, 119);
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.details_box {
    height: 4vh;
    width: 40vw;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

.details_text_box {
    height: 10vh;
    width: 40vw;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

.post_label_heading {
    font-family: "Times New Roman";
    font-size: 3vh;
    font-weight: 500;
    margin-right: 300px;
}

.post_button {
    height: 7vh;
    width: 20vw;
    background-color: rgb(255, 119, 119);
    color: white;
    font-size: 4vh;
    font-weight: bold;
    font-family: "Times New Roman";
    margin: auto;
    border-width: 0px;
    border-radius: 25px;
}